.DS_Store
.vscode/

build/
build-macos*/
build-linux*/
build-win*/
build-android*/
build-ios*/

llvm-mingw/
WinOpenGLFiles/
gitDownloadPackages/

OGLQuickstart
OGLQuickstart.app
mac-arm-app/
mac-x86-app/
.DS_Store
external/glad/.DS_Store
external/.DS_Store


ReadAndlearnBuild.md
README.md

temp/
